.metadata/
*.lock
/Textutils/*.project
/Textutils/.classpath
/RemoteSystemsTempFiles/
/Textutils/.settings/
/LineFilter/*.project
/LineFilter/*.classpath
/LineFilter/.settings/*.prefs
/ClearJSON/.settings/*.prefs
/ClearJSON/*.classpath
/ClearJSON/*.project
