.metadata/
*.lock
/Textutils/*.project
/Textutils/.classpath
/RemoteSystemsTempFiles/
/Textutils/.settings/
/LineFilter/*.project
/LineFilter/*.classpath
/LineFilter/.settings/*.prefs
/ClearJSON/.settings/*.prefs
/ClearJSON/*.classpath
/ClearJSON/*.project
/ToElasticSearch/.settings/*.prefs
http___download_eclipse_org_recommenders_models_neon_
caches
/ToElasticSearch/*.classpath
/ToElasticSearch/*.project
target
/JSONifier/*.project
/JSONifier/*.classpath
/JSONifier/.settings/*.prefs
/OrganizationsFinder/.settings/*.prefs
